<section class="mainbar" data-ng-controller="triplet as vm">
    <form class="form-horizontal">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="widget wviolet">
                    <div data-cc-widget-header title="{{vm.title}}">test</div>
                    <div class="widget-content user">
                         
                        <div class="row" ng-repeat="element in vm.costElements.elements">
                            <div class="col-lg-2">
                                <input type="text" ng-model="element.nomen" />
                            </div>
                            <div class="col-lg-10">
                                <div class="pull-left" ng-repeat="year in element.yearValues">
                                    <standard-cost-triplet uc="year.uc" qty="year.qty" tc="year.tc" auto-calculation-option="vm.autoCalc" unit-cost-precision="vm.ucPrecision" total-cost-precision="vm.tcPrecision" unit-cost-uom="vm.ucUom" total-cost-uom="vm.tcUom">
</div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label>UC Precision</label>
                <input type="text" ng-model="vm.ucPrecision" />
            </div>
            <div class="row">
                <label>TC Precision</label>
                <input type="text" ng-model="vm.tcPrecision" />
            </div>
            <div class="row">
                <label>UC UOM</label>
                <input type="text" ng-model="vm.ucUom" />
            </div>
            <div class="row">
                <label>TC UOM</label>
                <input type="text" ng-model="vm.tcUom" />
            </div>
        </div>
    </section>
        </form>
</section>
